<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="jp.naver.line.android" />
    </queries>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LineNotificationSupport">

        <receiver
            android:name=".ui.broadcastreceiver.LocaleChangeBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".reply.broadcastreceiver.ReplyActionBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="reply_message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".chatname.broadcastreceiver.DeleteFriendNameCacheBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mysticwind.linenotificationsupport.action.deletefriendnamecache" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".conversationstarter.broadcastreceiver.StartConversationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="start_conversation_action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".conversationstarter.broadcastreceiver.DisableStartConversationFeatureBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="disable_start_conversation_feature_action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".conversationstarter.broadcastreceiver.DisableStartConversationFeatureBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="disable_start_conversation_feature_action" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".conversationstarter.activity.KeywordSettingActivity"
            android:exported="false"
            android:label="@string/keyword_setting_activity_title"
            android:launchMode="singleTop" />

        <receiver
            android:name=".SettingsUpdateRequestBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.mysticwind.linenotificationsupport.action.settings.update" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".DismissNotificationBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.mysticwind.linenotificationsupport.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationSettingsLauncherActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteCachedFriendNamesDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings" />
        <activity
            android:name=".NotificationHistoryDebugActivity"
            android:label="@string/action_debug" />
        <activity
            android:name=".MainActivity"
            android:label="@string/action_test_notifications" />

        <service
            android:name=".service.NotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>